@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para el ingreso de un nuevo Tipo de Accesorio como por ejemplo
    CABLE USB,CARGADOR, etc.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Tipos de Accesorios";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}
@model DCICC.GestionInventarios.Models.TipoAccesorio
<link rel="stylesheet" type="~/Content/Tema/vendors/iCheck/skins/flat/green.css">
<link rel="stylesheet" type="~/Content/Tema/vendors/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="~/Content/Tema/vendors/switchery/dist/switchery.min.css">
@* Sección para la navegación entre pestañas *@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a href="@Url.Action("ModificarTipoAccesorio", "TipoAccesorio")">Tipos de Accesorios</a></li>
    <li><a class="active">Nuevo</a></li>
</ul>
<div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12"></div>
    @* Panel para mostrar las opciones de ingreso de un tipo de accesorio *@
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Nuevo Tipo de Accesorio </h2>
                <ul class="nav navbar-right panel_toolbox"></ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @* Formulario para envio de datos de los componentes para el ingreso de un nuevo tipo de accesorio
                    (Metodo de la clase) - Controlador (Controller) *@
                @using (Html.BeginForm("NuevoTipoAccesorio", "TipoAccesorio"))
                {
                    <div class="form-horizontal form-label-left input_mask">
                        @* Cuadro de texto para el ingreso del nombre de un tipo de accesorio *@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <input id="NombreTipoAccesorio" type="text" class="form-control has-feedback-left" name="NombreTipoAccesorio" placeholder="Tipo de Accesorio" maxlength="50" required>
                            <span class="fa fa-pencil-square-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        @* Área de Texto para el ingreso de la descripción de un tipo de accesorio *@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <textarea name="DescripcionTipoAccesorio" class="form-control has-feedback-left" rows="3" placeholder="Descripción del Tipo de Accesorio" maxlength="150"></textarea>
                            <span class="fa  fa-comments-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        @* Checkbox para habilitar o deshabilitar el uso del nuevo tipo de accesorio *@
                        <div class="form-group">
                            <label class="col-md-12 col-sm-12 col-xs-12">¿Habilitar Tipo de Accesorio?</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input name="HabilitadoTipoAccesorio" type="checkbox" class="js-switch" value="true" checked />
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        @* Sección de botones para guardar tipo de accesorio o cancelar el registro *@
                        <div class="form-group text-center">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn btn-success">Ingresar</button>
                                <button type="button" class="btn btn-primary">Cancelar</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Content/Tema/vendors/switchery/dist/switchery.min.js"></script>
<script type="text/javascript" src="~/Content/Tema/vendors/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="~/Content/Tema/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="~/Content/Tema/vendors/moment/min/moment.min.js"></script>
<script type="text/javascript" src="~/Content/Tema/vendors/DateJS/build/date.js"></script>
<script src="~/Scripts/ScriptsInventarios/TipoAccesorio.js"></script>
<script>
    $(document).ready(function () {

        obtenerTipoAccesorio(url);

        $('#NombreTipoAccesorio').blur(function () {
            var nombre = document.getElementById("NombreTipoAccesorio").value;
            comprobarNombre(nombre);
        });

    });

</script>