@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para mostrar el dashboard correspondiente al Home.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}
<h1>@ViewBag.Title</h1>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    </div>
</div>
<script type="text/javascript" src="~/Scripts/ScriptsInventarios/Home.js"></script>
<script type="text/javascript">
    window.onload = function () {
        if ('@ViewBag.MsjBienv' === "true") {
            showNotify("Autenticación Exitosa", "Bienvenid@@ @ViewBag.NombreUsuario", "success");
        }
        definirMenuPorRolActual('@Url.Action("ObtenerPermisosRolActual", "Roles")');
    }
</script>