@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para mostrar el dashboard correspondiente al Home.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}

<h1>@ViewBag.Title</h1>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        
    </div>
</div>