@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para el ingreso de un nuevo activo como por ejemplo
    PC001, SWITCH LAN, TABLET SAMSUMG, etc.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Activos de TI";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}

@* Sección para la navegación entre pestañas*@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a>@ViewBag.Title</a></li>
    <li><a class="active">Nuevo</a></li>
</ul>
<div class="row">
    <div class="col-md-1 col-sm-12 col-xs-12">
    </div>

    @* Panel para mostrar las opciones de ingreso de un nuevo activo *@
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Nuevo Activo de TI </h2>
                <ul class="nav navbar-right panel_toolbox"></ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                <!-- Comienzo del Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal">
                    <ul class="wizard_steps">
                        <li>
                            <a href="#step-1">
                                <span class="step_no">1</span>
                                <span class="step_descr">
                                    Paso 1<br />
                                    <small>Datos Principales del Activo</small>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-2">
                                <span class="step_no">2</span>
                                <span class="step_descr">
                                    Paso 2<br />
                                    <small>Especificaciónes Adicionales del Activo</small>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-3">
                                <span class="step_no">3</span>
                                <span class="step_descr">
                                    Paso 3<br />
                                    <small>Accesorios del Activo</small>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-4">
                                <span class="step_no">4</span>
                                <span class="step_descr">
                                    Paso 4<br />
                                    <small>Confirmación y Código QR</small>
                                </span>
                            </a>
                        </li>

                    </ul>
                    <div id="step-1">
                        @* Formulario para envio de datos de los componentes para el ingreso de un nuevo activo
            (Metodo de la clase) - Controlador (Controller) *@
                        @using (Html.BeginForm("NuevoActivo", "Activos"))
                        {
                            <div class="form-horizontal form-label-left input_mask" id="Paso1">
                                @* Combobox para seleccionar la categoría de activo *@
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label>Escoja la Categoría de Activo:</label>
                                        <div id="cargarCategorias"></div>
                                    </div>
                                </div>
                                @* Combobox para seleccionar el tipo de activo *@
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label>Escoja el Tipo de Activo:</label>
                                        <select class="form-control" name="TipoActivo" required>
                                            
                                        </select>
                                    </div>
                                </div>
                                @* Combobox para seleccionar la marca del activo *@
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <label>Escoja la Marca del Activo:</label>
                                        <div id="cargarMarcas"></div>
                                    </div>
                                    @* Combobox para el laboratorio del activo *@
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <label>Laaboratorio del Activo:</label>
                                        <div id="cargarLaboratorios"></div>
                                    </div>
                                </div>

                                <div class="form-group">

                                </div>
                                @* Combobox para seleccionar el estado del activo *@
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label>Escoja el Estado del Activo:</label>
                                        <div id="cargarEstados"></div>
                                    </div>
                                </div>
                                @* Cuadro de texto para el ingreso del nombre de un activo *@
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                    <input id="NombreActivo" type="text" class="form-control has-feedback-left" name="NombreActivo" placeholder="Nombre del Activo" maxlength="50" required>
                                    <span class="fa fa-pencil-square-o form-control-feedback left" aria-hidden="true"></span>
                                    <span id="msg_username" style="color:brown;"></span>
                                </div>

                                @* Cuadro de texto para el ingreso del modelo de un activo *@
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                    <input id="ModeloActivo" type="text" class="form-control has-feedback-left" name="ModeloActivo" placeholder="Modelo del Activo" maxlength="80" required>
                                    <span class="fa fa-adjust form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="form-group">
                                    @* Cuadro de texto para el ingreso del serial activo *@
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                        <input id="SerialActivo" type="text" class="form-control has-feedback-left" name="SerialActivo" placeholder="Serial del Activo" maxlength="150" required>
                                        <span class="fa fa-cogs form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    @* Cuadro de texto para el ingreso del codigo UPS del activo *@
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                        <input type="text" class="form-control has-feedback-left" name="CodigoUpsActivo" placeholder="Código UPS" maxlength="20">
                                        <span class="fa fa-barcode form-control-feedback left" aria-hidden="true"></span>
                                    </div>

                                </div>
                                @* Cuadro de texto para el ingreso de la fecha de ingreso del activo *@
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <label>Fecha de Adquisición del Activo:</label>
                                        <fieldset>
                                            <div class="control-group">
                                                <div class="controls">
                                                    <div class="col-md-12 xdisplay_inputx form-group has-feedback" style="padding-left: 0px;">
                                                        <input name="FechaIngresoActivo" type="text" class="form-control has-feedback-left" id="single_cal4" placeholder="Fecha de Adquisición" aria-describedby="inputSuccess2Status4" style="padding-left: 60px;">
                                                        <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true" style=" padding-right: 15px;"></span>
                                                        <span id="inputSuccess2Status4" class="sr-only">(success)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>

                                </div>
                                <div class="form-group"></div>
                                @* Área de Texto para el ingreso de la descripción de una activo *@
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                    <textarea name="DescripcionActivo" class="form-control has-feedback-left" rows="3" placeholder="Descripción del Activo" maxlength="150"></textarea>
                                    <span class="fa  fa-comments-o form-control-feedback left" aria-hidden="true"></span>
                                </div>

                            </div>
                        }

                    </div>
                    <div id="step-2">
                        <div class="form-horizontal form-label-left input_mask" id="Paso2">

                            @* ---------------- Sección de especificaciones adicionales para todos los Activos ---------------*@
                            <span class="section">Especificaciones Adicionales comunes para todos los Activos</span>
                            @* Área de Texto para el ingreso de Express Service Code *@
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" name="ExpressServiceCodeActivo" placeholder="Express Service Code" maxlength="100">
                                <span class="fa fa-code-fork form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            @* Cuadro de texto para el ingreso de Fecha de Manufactura *@
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" name="FechaManufacturaActivo" placeholder="Fecha de Manufactura" maxlength="100">
                                <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            @* ---------------- Sección de especificaciones adicionales para Equipos de Redes ---------------*@
                            <span class="section">Especificaciones Adicionales para Switchs, souters, etc.</span>
                            <div class="form-group">
                                @* Cuadro de texto para el ingreso de Número de Puertos *@
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                    <input type="number" class="form-control has-feedback-left" name="NumPuertosActivo" placeholder="Número de Puertos" maxlength="100">
                                    <span class="fa fa-sort-numeric-asc form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                @* Cuadro de texto para el ingreso de Version de IOS *@
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="IosVersionActivo " placeholder="Version de IOS" maxlength="100">
                                    <span class="fa fa-adjust form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            @* ---------------- Sección de especificaciones adicionales para Servidores Cuchillas etc---------------*@
                            <span class="section">Especificaciones Adicionales para Servidores, switch SAN etc.</span>

                            @* Cuadro de texto para el ingreso de Product Name *@
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" name="ProductNameActivo" placeholder="Product Name" maxlength="100">
                                <span class="fa fa-book form-control-feedback left" aria-hidden="true"></span>
                            </div>
                            @* Cuadro de texto para el ingreso de Hpe Part Number *@
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" name="HpePartNumberActivo" placeholder="Hpe Part Number" maxlength="100">
                                <span class="fa fa-cubes form-control-feedback left" aria-hidden="true"></span>
                            </div>
                            <div class="form-group">
                                @* Cuadro de texto para el ingreso de Código de Barras 1 *@
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="CodBarras1Activo" placeholder="Código de Barras 1" maxlength="100">
                                    <span class="fa fa-barcode form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                @* Cuadro de texto para el ingreso de Código de Barras 2*@
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="CodBarras2Activo" placeholder="Código de Barras 2" maxlength="100">
                                    <span class="fa fa-barcode form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            @* Cuadro de texto para el ingreso de CT Code *@
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" name="CtActivo" placeholder="CT Code" maxlength="100">
                                <span class="fa fa-code form-control-feedback left" aria-hidden="true"></span>
                            </div>
                            @* ---------------- Sección de especificaciones adicionales para Discos Memorias etc---------------*@
                            <span class="section">Especificaciones Adicionales para Discos Duros, Memorias, etc.</span>

                            <div class="form-group">
                                @* Cuadro de texto para el ingreso de Capacidad de Activo *@
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                    <input type="number" class="form-control has-feedback-left" name="CapacidadActivo" placeholder="Capacidad(GB)" maxlength="100">
                                    <span class="fa fa-database form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                @* Cuadro de texto para el ingreso de Velocidad de Transferencia *@
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="VelocidadTransfActivo" placeholder="Velocidad de Transferencia" maxlength="100">
                                    <span class="fa fa-rocket form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="step-3">
                        <div class="form-horizontal form-label-left input_mask" id="Paso3">
                            @* Combobox para seleccionar el accesorio del activo *@
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Escoja Tipo de Accesorio:</label>
                                    <div id="cargarAccesorios"></div>
                                </div>
                            </div>
                            <div class="form-group">

                            </div>
                            @* Cuadro de texto para el ingreso del nombre de un accesorio *@
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <input id="NombreActivo" type="text" class="form-control has-feedback-left" name="NombreActivo" placeholder="Nombre del Accesorio" maxlength="50" required>
                                <span class="fa fa-pencil-square-o form-control-feedback left" aria-hidden="true"></span>
                                <span id="msg_username" style="color:brown;"></span>
                            </div>
                            @* Cuadro de texto para el ingreso del modelo de un accesorio *@
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" name="ModeloActivo" placeholder="Serial del Activo" maxlength="80" required>
                                <span class="fa fa-adjust form-control-feedback left" aria-hidden="true"></span>
                            </div>
                            @* Cuadro de texto para el ingreso del serial de un accesorio *@
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" name="ModeloActivo" placeholder="Modelo del Activo" maxlength="80" required>
                                <span class="fa fa-adjust form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div id="step-4">
                        <h2 class="StepTitle">Step 3 Content</h2>
                        <p>
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                </div>
                <!-- Fin del contenido de SmartWizard-->

            </div>
        </div>
    </div>

    <div class="col-md-1 col-sm-12 col-xs-12"></div>
</div>


<script src="~/Scripts/ScriptsInventarios/Activos.js"></script>
@* Script para las funciones e instancia del Wizard *@
<script type="text/javascript">
    $(document).ready(function () {
        // Inicializar Smart Wizard
        $('#wizard').smartWizard({
            // Propiedades
            transitionEffect: 'fade', // Efecto de navición
            labelNext: 'Siguiente', // Nombre del botón siguiente
            labelPrevious: 'Anterior', // Nombre del botón anterior
            labelFinish: 'Finalizar',  // Nombre del botón finalizar
            onLeaveStep: leaveAStepCallback //Métodos de validación de pasos
        });

        function leaveAStepCallback(obj) {
            var step_num = obj.attr('rel');
            return validateSteps(step_num);
        }

        //Validación de campos obligatorios en los pasos
        function validateSteps(stepnumber) {
            console.log(stepnumber);
            var isStepValid = true;
            // validate step 1
            if (stepnumber == 1) {
                if (validarPaso1() == false) {
                    isStepValid = false;
                    $('#wizard').smartWizard('showMessage', 'Llenar los campos obligatorios en el paso ' + stepnumber + ' y presione Siguiente.');
                    $('#wizard').smartWizard('setError', { stepnum: stepnumber, iserror: true });

                }
            }
            return isStepValid;
        }

        

    });
</script>
