@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para el ingreso de una nueva marca como por ejemplo
    DELL, TOSHIBA, CISCO, etc.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Marcas";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}
@model DCICC.GestionInventarios.Models.Marcas

@* Sección para la navegación entre pestañas *@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a href="@Url.Action("ModificarMarca", "Marcas")">Marcas</a></li>
    <li><a class="active">Nuevo</a></li>
</ul>
<div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12"></div>
    @* Panel para mostrar las opciones de ingreso de una marca *@
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Nueva Marca </h2>
                <ul class="nav navbar-right panel_toolbox"></ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @* Formulario para envio de datos de los componentes para el ingreso de una nueva marca
                    (Metodo de la clase) - Controlador (Controller) *@
                @using (Html.BeginForm("NuevaMarca", "Marcas"))
                {
                    <div class="form-horizontal form-label-left input_mask">
                        @* Cuadro de texto para el ingreso del nombre de una marca *@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <input id="NombreMarca" type="text" class="form-control has-feedback-left" name="NombreMarca" placeholder="Nombre de la Marca" onkeyup="this.value=this.value.replace(validarNombres(),'');"  minlength="3" maxlength="50" data-toggle="tooltip" data-placement="rigth" title="" required>
                            <span class="fa fa-pencil-square-o form-control-feedback left" aria-hidden="true"></span>
                            <span id="errorNombreMarca" style="color:brown;"></span>
                        </div>
                        @* Área de Texto para el ingreso de la descripción de una marca *@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <textarea id="DescripcionMarca" name="DescripcionMarca" class="form-control has-feedback-left" rows="3" placeholder="Descripción de la Marca" onkeyup="this.value=this.value.replace(validarTextos(),'');" maxlength="150" data-toggle="tooltip" data-placement="rigth" title=""></textarea>
                            <span class="fa  fa-comments-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        @* Checkbox para habilitar o deshabilitar el uso de la nueva marca *@
                        <div class="form-group">
                            <label class="col-md-12 col-sm-12 col-xs-12">¿Habilitar Marca?</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input name="HabilitadoMarca" type="checkbox" class="js-switch" value="true" checked />
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        @* Sección de botones para guardar marca o cancelar el registro *@
                        <div class="form-group text-center">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button id="confirmarMarca" type="submit" class="btn btn-success">Ingresar</button>
                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ModificarMarca", "Marcas")'">Cancelar</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@* Seccción para llamar al js de Marcas *@
<script src="~/Scripts/ScriptsInventarios/Marcas.js"></script>
<script>
    $(document).ready(function () {
        //Método para obtener la tabla de Marcas
        obtenerMarcas('@Url.Action("ObtenerMarcasComp", "Marcas")');
        mensajesTooltips();
        //Método para evitar la duplicidad de nombres de Marcas
        $('#NombreMarca').blur(function () {
            comprobarNombre();
        });

    });

</script>

