@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para la modificación de un sistema operativo.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Sistemas Operativos";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}

<h1>@ViewBag.Title</h1>
<div class="row">
    @* Panel para mostrar la tabla de modificación de sistemas operativos *@
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Modificar Sistema Operativo</h2>
                <ul class="nav navbar-right panel_toolbox"></ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @* Sección para la tabla de modificación mediante js *@
                <div id="tablaModificarSistOperativo">

                </div>
            </div>
        </div>
    </div>
</div>
