@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para el ingreso de un nuevo Sistema Operativo como por ejemplo
    Windows 10, Centos 7, Ubuntu, etc.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Sistemas Operativos";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}
@model DCICC.GestionInventarios.Models.SistOperativos

@* Sección para la navegación entre pestañas*@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a href="@Url.Action("ModificarSistOperativo", "SistOperativo")">@ViewBag.Title </a></li>
    <li><a class="active">Nuevo </a></li>
</ul>
<div class="row">
    @* Panel para mostrar las opciones de ingreso de un sistema operativo *@
    <div class="col-md-2 col-sm-12 col-xs-12"></div>
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Nuevo Sistema Operativo </h2>
                <ul class="nav navbar-right panel_toolbox"></ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @* Formulario para envio de datos de los componentes para el ingreso de una nuevo sistema operativo
                    (Metodo de la clase) - Controlador (Controller) *@
                @using (Html.BeginForm("NuevoSistOperativo", "SistOperativo"))
                {
                    <div class="form-horizontal form-label-left input_mask">
                        @* Cuadro de texto para el ingreso del nombre de un nuevo sistema operativo *@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <input id="NombreSistOperativos" type="text" class="form-control has-feedback-left" name="NombreSistOperativos" placeholder="Nombre del Sistema Operativo" maxlength="100" required>
                            <span class="fa fa-pencil-square-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        @* Área de Texto para el ingreso de la descripción de un nuevo sistema operativo*@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <textarea class="form-control has-feedback-left" name="DescripcionSistOperativos" rows="3" placeholder="Descripción del Sistema Operativo" maxlength="150"></textarea>
                            <span class="fa  fa-comments-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        @* Checkbox para habilitar o deshabilitar el uso del nuevo sistema operativo*@
                        <div class="form-group">
                            <label class="col-md-12 col-sm-12 col-xs-12">¿Habilitar Sistema Operativo?</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input name="HabilitadoSistOperativos" type="checkbox" class="js-switch" value="true" checked />
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        @* Sección de botones para guardar sistema operativo o cancelar el registro *@
                        <div class="form-group text-center">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn btn-success">Ingresar</button>
                                <button type="button" class="btn btn-primary">Cancelar</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Content/Tema/vendors/switchery/dist/switchery.min.js"></script>
<script type="text/javascript" src="~/Content/Tema/vendors/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="~/Content/Tema/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="~/Content/Tema/vendors/moment/min/moment.min.js"></script>
<script type="text/javascript" src="~/Content/Tema/vendors/DateJS/build/date.js"></script>
<script src="~/Scripts/ScriptsInventarios/SistemasOperativos.js"></script>
<script>
    $(document).ready(function () {

        obtenerSO(url);

        $('#NombreSistOperativos').blur(function () {
            var nombre = document.getElementById("NombreSistOperativos").value;
            comprobarNombre(nombre);
        });

    });

</script>