@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para el ingreso de una nueva Máquina Virtual.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Máquinas Virtuales";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}
@model DCICC.GestionInventarios.Models.MaqVirtuales

<h1>@ViewBag.Title</h1>
<div class="row">
    @* Panel para mostrar las opciones de ingreso de una máquina virtual *@
    <div class="col-md-5 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="form-group"><h2>Nueva Máquina Virtual </h2></div>
                <ul class="nav navbar-right panel_toolbox"></ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @* Formulario para envio de datos de los componentes para el ingreso de una nueva máquina virtual
                    (Metodo de la clase) - Controlador (Controller) *@
                @using (Html.BeginForm("NuevaMaqVirtual", "MaqVirtuales"))
                {
                    <div class="form-horizontal form-label-left input_mask">
                        @* Combobox para seleccionar un sistema operativo de la máquina virtual*@
                        <div class="form-group">
                            <div class="col-md-12 col-sm-9 col-xs-12">
                                <label>Escoja sistema operativo:</label>
                                <select class="form-control" name="NombreSistOperativo">
                                    <option>Seleccionar</option>
                                    <option>Option one</option>
                                    <option>Option two</option>
                                    <option>Option three</option>
                                    <option>Option four</option>
                                </select>
                            </div>
                        </div>
                        @* Cuadro de texto para el ingreso del nombre del responsable de la máquina virtual *@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" name="UsuarioMaqVirtuales" placeholder="Usuario Responsable" maxlength="80" required>
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        @* Cuadro de texto para el ingreso del nombre de una máquina virtual *@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" name="NombreMaqVirtuales" placeholder="Nombre Máquina Virtual" maxlength="80" required>
                            <span class="fa fa-desktop form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        @* Área de Texto para seleccionar l propósito de la máquina virtual *@
                        <div class="form-group">
                            <div class="col-md-12 col-sm-9 col-xs-12">
                                <label>Escoja propósito:</label>
                                <select class="form-control" name="PropositoMaqVirtuales">
                                    <option>Seleccionar</option>
                                    <option>Option one</option>
                                    <option>Option two</option>
                                    <option>Option three</option>
                                    <option>Option four</option>
                                </select>
                            </div>
                        </div>
                        @* Cuadro de texto para el ingreso de la dirección IP de una máquina virtual *@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" name="DireccionIPMaqVirtuales" placeholder="Dirección IP" maxlength="80" required>
                            <span class="fa fa-wifi form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        @* Cuadro de texto para el ingreso del disco y RAM de una máquina virtual *@
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                <label>Disco (GB):</label>
                                <input type="number" class="form-control has-feedback-left" name="DireccionIPMaqVirtuales" placeholder="0" min="0" required>
                                <span class="fa fa-database form-control-feedback left" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                <label>RAM (GB):</label>
                                <input type="number" class="form-control has-feedback-left" name="DireccionIPMaqVirtuales" placeholder="0" min="0" max="128" required>
                                <span class="fa fa-tachometer form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                        @* Área de Texto para el ingreso de la descripción de una máquina virtual *@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <textarea name="DescripcionMarca" class="form-control has-feedback-left" rows="3" placeholder="Descripción de la marca" maxlength="150"></textarea>
                            <span class="fa  fa-comments-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        @* Checkbox para habilitar o deshabilitar el uso de la nueva máquina virtual *@
                        <div class="form-group">
                            <label class="col-md-12 col-sm-12 col-xs-12">¿Habilitar Máquina Virtual?</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input name="HabilitadoMarca" type="checkbox" class="js-switch" checked />
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        @* Sección de botones para guardar máquina virtual o cancelar el registro *@
                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success">Ingresar</button>
                                <button type="button" class="btn btn-primary">Cancelar</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @* Panel para mostrar la tabla de máquina virtual *@
    <div class="col-md-7 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Máquinas Virtuales Existentes</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form class="form-horizontal form-label-left input_mask">
                    @* Sección para la elaboración de la tabla de máquinas virtuales mediante js *@
                    <div id="tablaMaqVirtuales"></div>
                    <h1>Datos</h1>

                </form>
            </div>
        </div>
    </div>
</div>