@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para el ingreso de un nuevo Rol como por ejemplo: Administrador, Auxiliar Técnico, etc.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}
@model DCICC.GestionInventarios.Models.Roles

@* Sección para la navegación entre pestañas*@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a href="@Url.Action("ModificarRol", "Roles")">@ViewBag.Title </a></li>
    <li><a class="active">Nuevo </a></li>
</ul>
<div class="row">
    @* Panel para mostrar las opciones de ingreso de un nuevo rol *@
    <div class="col-md-1 col-sm-12 col-xs-12"></div>
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Nuevo Rol de Usuario </h2>
                <ul class="nav navbar-right panel_toolbox"></ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @* Formulario para envio de datos de los componentes para el ingreso de un nuevo rol
                    (Metodo de la clase) - Controlador (Controller) *@
                @using (Html.BeginForm("NuevoRol", "Roles"))
                {
                    <div class="form-horizontal form-label-left input_mask">
                        @* Cuadro de texto para el ingreso del nombre de un nuevo rol*@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" name="NombreRol" placeholder="Nombre del Rol" maxlength="30" required>
                            <span class="fa fa-pencil-square-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        @* Sección para seleccionar los permisos sobre las tablas que tendrá el rol de usuario.*@
                        <div class="form-group">
                            <label class="col-md-12 col-sm-12 col-xs-12">Escoja permisos para tablas: </label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <table style="width:100%; border:0;" class="table-responsive">
                                    <tr>
                                        <th>Tabla</th>
                                        <th>Select</th>
                                        <th>Insert</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                    <tr>
                                        <td><b>Todos*</b></td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="TodosSelect">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="TodosInsert">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="TodosUpdate">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="TodosDelete">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Accesorio</td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="AccesorioSelect">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="AccesorioInsert">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="AccesorioUpdate">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="AccesorioDelete">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Categoría Activos</td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="CategoriaActSelect">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="CategoriaActInsert">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="CategoriaActUpdate">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="CategoriaActDelete">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Detalle Activos</td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="DetalleActSelect">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="DetalleActInsert">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="DetalleActUpdate">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="DetalleActDelete">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Laboratorios</td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="LaboratoriosSelect">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="LaboratoriosInsert">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="LaboratoriosUpdate">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="LaboratoriosDelete">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Máquinas Virtuales</td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="MaqVirtualesSelect">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="MaqVirtualesInsert">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="MaqVirtualesUpdate">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="MaqVirtualesDelete">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Marca</td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="MarcaSelect">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="MarcaInsert">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="MarcaUpdate">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="MarcaDelete">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Sistemas Operativos</td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="SistOperativosSelect">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="SistOperativosInsert">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="SistOperativosUpdate">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="SistOperativosDelete">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tickets</td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="TicketsSelect">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="TicketsInsert">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="TicketsUpdate">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="TicketsDelete">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tipo Accesorio</td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="TipoAccesorioSelect">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="TipoAccesorioInsert">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="TipoAccesorioUpdate">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="TipoAccesorioDelete">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tipo Activos</td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="TipoActivoSelect">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="TipoActivoInsert">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="TipoActivoUpdate">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="TipoActivoDelete">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Usuarios</td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="UsuariosSelect">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="UsuariosInsert">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="UsuariosUpdate">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" class="flat" checked="checked" name="UsuariosDelete">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        @* Área de Texto para el ingreso de la descripción de un nuevo rol*@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <textarea class="form-control has-feedback-left" name="DescripcionRol" rows="3" placeholder="Descripción del rol" maxlength="150"></textarea>
                            <span class="fa  fa-comments-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        @* Checkbox para habilitar o deshabilitar el uso del nuevo rol*@
                        <div class="form-group">
                            <label class="col-md-12 col-sm-12 col-xs-12">¿Habilitar Rol?</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input name="HabilitadoRol" type="checkbox" class="js-switch" checked />
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        @* Sección de botones para guardar el rol o cancelar el registro *@
                        <div class="form-group text-center">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn btn-success">Ingresar</button>
                                <button type="button" class="btn btn-primary">Cancelar</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-1 col-sm-12 col-xs-12"></div>
</div>