@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para el ingreso de un nuevo tipo de Activo como por ejemplo
    en la categoria HARDWARE existen los tipos de activos CPU, MONITOR, etc.
*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModificarTipoActivo</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
