@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Inventarios y Ticketing para Soporte Técnico</title>
    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/favicon.ico")">
    @Styles.Render("~/Content/css")
    <script type="text/javascript" src="~/Content/Tema/vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Site.js"></script>
</head>
<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <img src="~/Content/Images/LogoUps.png" class="center">
                <section class="login_content">
                    <form>
                        <h1 style="color:#cc0000">@ViewBag.TipoError</h1>
                        <h2>@ViewBag.MensajeError </h2>
                    </form>
                </section>
            </div>
        </div>
    </div>
    @* Sección para la visualización de la animación de particulas en la página *@
    <div id="particles" />
</body>
</html>
