@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para mostrar el perfil de usuario y así poder modificar sus datos.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Perfil de Usuario";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}
@model DCICC.GestionInventarios.Models.Usuarios

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a class="active">@ViewBag.Title </a></li>
</ul>
<div class="row">
    @* Panel para mostrar las opciones del perfil de usuario *@
    <div class="col-md-2 col-sm-12 col-xs-12"></div>
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="form-group"><h2>Perfil de Usuario </h2></div>
                <ul class="nav navbar-right panel_toolbox">
                    <li><button type="button" class="btn btn-round btn-success float-right" data-toggle="modal" data-target="#ModificarContraseña"><i class="fa fa-lock"></i> Cambiar Contraseña</button></li>
                </ul>
                <div class="clearfix"></div>

            </div>
            <div class="x_content">
                <br>
                @* Formulario para envio de datos de los componentes para la modificación del usuario.
                    (Metodo de la clase) - Controlador (Controller) *@
                <div class="form">
                    <div class="form-horizontal form-label-left input_mask">

                        @* Cuadro de texto para el ingreso del nombre completo del usuario*@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <input id="NombresUsuario" type="text" class="form-control has-feedback-left" name="NombresUsuario" placeholder="Nombre Completo del Usuario" maxlength="100" required>
                            <span class="fa fa-address-card-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        @* Cuadro de texto para el ingreso del correo del usuario*@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <input  id="CorreoUsuario" type="email" class="form-control has-feedback-left" name="CorreoUsuario" placeholder="Correo Electrónico" maxlength="40" required>
                            <span class="fa fa-envelope-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        @* Cuadro de texto para el ingreso del nick(Nombre de Usuario)*@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <input id="NickUsuario" type="text" class="form-control has-feedback-left" name="NickUsuario" placeholder="Nick de Usuario" maxlength="50" required>
                            <span class="fa fa-at form-control-feedback left" aria-hidden="true"></span>
                        </div>

                        @* Cuadro de texto para el ingreso del teléfono convencional del usuario*@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <input id="TelefonoUsuario" type="text" class="form-control has-feedback-left" name="TelefonoUsuario" placeholder="Teléfono Convencional" maxlength="11">
                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        @* Cuadro de texto para el ingreso del teléfono celular del usuario*@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <input id="TelefonoCelUsuario" type="text" class="form-control has-feedback-left" name="TelefonoCelUsuario" placeholder="Teléfono Celular" maxlength="11">
                            <span class="fa fa-mobile-phone form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        @* Área de Texto para el ingreso de la descripción de un usuario *@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <textarea id="DireccionUsuario" name="DireccionUsuario" class="form-control has-feedback-left" rows="3" placeholder="Dirección Domicilio" maxlength="80"></textarea>
                            <span class="fa  fa-comments-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="form-group"></div>
                        <div class="ln_solid"></div>
                        @* Sección de botones para modificar usuario o cancelar el registro *@
                        <div class="form-group text-center">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn btn-success">Modificar</button>
                                <button type="button" class="btn btn-primary">Cancelar</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12"></div>
</div>

@* Modal de modificación de categorías de activos *@
<div class="modal fade" id="ModificarContraseña" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Cambiar Contraseña</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form class="x_content">

                            @* Formulario para actualizaci[on de datos de los componentes para el ingreso de un nuevo usuario.
                                (Metodo de la clase) - Controlador (Controller) *@
                            
                                <div class="form-horizontal form-label-left input_mask">
                                    @* Cuadro de texto para el ingreso del password del usuario*@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <input id="PasswordUsuario" type="password" class="form-control has-feedback-left" name="PasswordUsuario" placeholder="Contraseña" maxlength="30" required>
                                        <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
                                    </div>

                                    @* Cuadro de texto para el ingreso del password del usuario*@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <input id="PasswordUsuarioNuevo" type="password" class="form-control has-feedback-left" name="PasswordUsuarioNuevo" placeholder="Nueva Contraseña" maxlength="30" required>
                                        <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
                                    </div>

                                    @* Cuadro de texto para el ingreso del password del usuario*@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <input id="PasswordUsuarioConfirmar" type="password" class="form-control has-feedback-left" name="PasswordUsuarioConfirmar" placeholder="Confirmar Nueva Contraseña" maxlength="30" required>
                                        <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
                                    </div>

                                    <div class="form-group"> </div>

                                    <div class="ln_solid"></div>
                                    @* Sección de botones para guardar usuario o cancelar el registro *@
                                    <div class="form-group text-center">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <button type="submit" class="btn btn-success" onclick="modificarUsuario('@Url.Action("ModificarUsuario", "Usuarios")')">Modificar</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@* Seccción para llamar al js de Usuarios*@
<script src="~/Scripts/ScriptsInventarios/PerfilUsuario.js"></script>
<script>
    $(document).ready(function () {
        //Método para obtener las tablas de Usuarios
        obtenerUsuarios('@Url.Action("ObtenerUsuariosRoles", "Usuarios")');

    });

</script>