/*Sistema de Gestión de inventarios y ticketing para soporte Técnico
Autores: Andres Chisaguano - Joel Ludeña
Descripción: Archivo que tendrá los estilos que se utilizará en toda la aplicación*/

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
