
@{
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Modificar Laboratorios</h2>
                <ul class="nav navbar-right panel_toolbox"></ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                <div id="tablaModificarLaboratorio">

                </div>


            </div>
        </div>

    </div>


</div>
