@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para mostrar las operaciones que se realizan en la base de datos (LOGS).
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Logs";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}

<h1>@ViewBag.Title</h1>
<div class="row">
    @* Panel para mostrar la tabla de logs*@
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Logs del Sistema</h2>
                <ul class="nav navbar-right panel_toolbox"></ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @* Sección para la tabla de logs mediante js *@
                <div id="tablaLogs">

                </div>
            </div>
        </div>
    </div>
</div>
