@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para mostrar las operaciones que se realizan en la base de datos (LOGS).
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Logs";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}

@* Sección para la navegación entre pestañas*@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a class="active">@ViewBag.Title</a></li>
</ul>
<div class="row">
	@* Panel para mostrar la tabla de logs*@
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<div class="x-content">
					<div class="col-md-6 col-sm-12 col-xs-12 ">
						<h3>Logs del Sistema</h3>
					</div>
				</div>
				<ul class="nav navbar-right panel_toolbox"></ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<br>
				<div class="form-horizontal form-label-left input_mask">
					@*Sección de filtros de búsqueda para realizar la consulta*@
					<div class="form-group">
						@*Combobox para seleccionar ...*@
						<div class="col-md-6 col-sm-12 col-xs-12">
							<label>Filtro por Usuario:</label>
							<div id="cargarNicks"></div>
						</div>
						@*Combobox para seleccionar ...*@
						<div class="col-md-6 col-sm-12 col-xs-12">
							<label>Filtro por Operación:</label>
							<select class="form-control" id="cmbOperacion">
								<option value="">Mostrar Todos</option>
								<option value="Actualización">Actualización</option>
								<option value="Eliminación">Eliminación</option>
								<option value="Inserción">Inserción</option>
								<option value="Login">Login</option>
								<option value="Logout">Logout</option>
							</select>
						</div>
					</div>
					<br />
					@* Sección para la tabla de logs mediante js *@
					<div class="col-md-12 col-sm-12 col-xs-12 ">
						<div id="tablaLogs">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@* Sección para la llamar al js de Logs *@
<script src="~/Scripts/ScriptsInventarios/Logs.js"></script>
<script type="text/javascript">

     $(document).ready(function () {
        //Método para obtener la tabla de Logs
		 obtenerLogs('@Url.Action("ObtenerLogsComp", "Logs")');
		 obtenerNicksUsuarios('@Url.Action("ObtenerNicksUsuarios", "Usuarios")');

         $('#cmbOperacion').change(function () {
             var opcion = document.getElementById("cmbOperacion");
             var tipoOpe = opcion.options[opcion.selectedIndex];
             consultaOperacion(tipoOpe);
         });

    });

</script>